$color-white: #fff;
$color-grey: grey;
$color-black: #000;

%no-selection{
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}
%flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-center(){
	display: flex;
	align-items: center;
	justify-content: center;	
}
@mixin button-form{
	border: none;
	width: 100px;
	height: 50px;
	border-radius: 10%;
	transition: 0.2s;
	font-size: 13px;
	font-weight: bold;
	&:focus{
		outline: 0;
	}
	&:hover{
		background-color: $color-grey;
		color: $color-white;
		transition: 0.2s;
	}
}