@import url("https://fonts.googleapis.com/css?family=Raleway");
table p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wrapper, div:first-child {
  display: flex;
  align-items: center;
  justify-content: center; }

div:nth-child(2) {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  div:nth-child(2) div {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; }
  div:nth-child(2) .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
    div:nth-child(2) .close:hover, div:nth-child(2) .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

.open {
  display: block !important; }

html {
  font-family: 'Raleway', sans-serif; }

div:first-child h1 {
  padding-right: 10px; }
div:first-child button {
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10%;
  transition: 0.2s; }
  div:first-child button:focus {
    outline: 0; }
  div:first-child button:hover {
    background-color: grey;
    color: #fff;
    transition: 0.2s; }

table {
  border-collapse: collapse;
  width: 50%; }
  table tr {
    height: 42px; }
  table tbody td {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px; }
  table tbody td:nth-child(2), table tbody td:nth-child(3) {
    width: 30%; }
  table tbody td:first-child, table tbody td:nth-child(4), table tbody td:nth-child(5), table tbody td:nth-child(6) {
    width: 10%; }
  table tbody tr:nth-child(2n+0) {
    background-color: grey;
    color: #fff; }
    table tbody tr:nth-child(2n+0) button {
      filter: invert(100%); }
    table tbody tr:nth-child(2n+0) td:nth-child(5):hover {
      background-color: #fff;
      color: #000;
      transition: 0.5s; }
    table tbody tr:nth-child(2n+0) td:nth-child(5) {
      transition: 0.5s; }
  table tbody tr:nth-child(2n+1) td:nth-child(5):hover {
    background-color: grey;
    color: #fff;
    transition: 0.5s; }
  table tbody tr:nth-child(2n+1) td:nth-child(5) {
    transition: 0.5s; }
  table tbody tr:first-child {
    border-top: 1px solid #000; }
  table tbody tr:last-child {
    border-bottom: 1px solid #000; }
  table p {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px; }
  table button {
    cursor: pointer;
    background: url(../img/trashcan.png) no-repeat;
    padding-top: 10%;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    border: none; }
    table button:focus {
      outline: 0; }
  table td:last-child {
    padding-top: 4px; }

@media (max-width: 1024px) {
  table {
    width: 80%; } }
@media (max-width: 576px) {
  table, thead, tbody, th, td, tr {
    display: block; }

  table tr {
    height: auto; }
  table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  table tbody td:first-child, table tbody td:nth-child(2), table tbody td:nth-child(3), table tbody td:nth-child(4), table tbody td:nth-child(5), table tbody td:nth-child(6) {
    width: 64.7%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center; }
  table tbody tr:nth-child(2n+0) td:nth-child(5):hover {
    background-color: grey;
    color: #fff;
    transition: none; }
  table tbody tr:nth-child(2n+0) td:nth-child(5) {
    transition: none; }
  table tbody tr:nth-child(2n+1) td:nth-child(5):hover {
    background-color: #fff;
    color: #000;
    transition: none; }
  table tbody tr:nth-child(2n+1) td:nth-child(5) {
    transition: none; }
  table tbody tr:first-child {
    border-top: none; }
  table tbody tr:last-child {
    border-bottom: none; }
  table tbody td:last-child {
    padding-top: 0px; }
  table tbody td {
    border: none;
    position: relative;
    padding-left: 35%; }
  table tbody td:before {
    position: absolute;
    left: 6px;
    white-space: nowrap; }
  table tbody td:nth-of-type(1):before {
    content: "#"; }
  table tbody td:nth-of-type(2):before {
    content: "Titre"; }
  table tbody td:nth-of-type(3):before {
    content: "Auteur"; }
  table tbody td:nth-of-type(4):before {
    content: "Pages"; }
  table tbody td:nth-of-type(5):before {
    content: "Lu"; }
  table tbody td:nth-of-type(6):before {
    content: "Supprimer"; } }
form {
  display: visible; }

/*# sourceMappingURL=style.css.map */
